.App {
  text-align: center;
}

.App-header {
  /* background-color: #282c34; */
  background-color: white;
  min-height: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  font-size: 16px;
  font-family: "helvetica";
  font-weight: 400;
  color: rgb(
    25, 177, 42);
  border-bottom-width: 10px;
  border-color: black;
}

.App-footer {
  background-color: white;
  min-height: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: bottom;
  /* font-size: calc(10px + 2vmin); */
  color: "black";
  font-size: 10px;
  font-family: "Helvetica";
  margin-top: 5px;
}